.imports {
  .list-group-item {
    color: $white;
  }

  .list-group-item.list-group-item-success {
    background: $green;
  }

  .list-group-item.list-group-item-info {
    background: $blue;
  }

  .list-group-item.list-group-item-warning {
    background: $yellow;
  }

  .list-group-item.list-group-item-danger {
    background: $red;
  }

}
