.inheritance {

  .alert-success, .inheritance .alert-info, .inheritance .alert-danger, .inheritance .alert-warning {
    text-align: center;
    font-weight: bold;
    color: $white;
  }

  .alert-success {
    background: $green;
  }

  .alert-info {
    background: $blue;
  }

  .alert-warning {
    background: $yellow;
  }

  .alert-danger {
    background: $red;
  }
  
}
