@import 'variables';
@import 'import';
@import 'variable';
@import 'nesting';
@import 'mixing';
@import 'inheritance';

body {
  padding-top: 70px;

  .starter-template {
      padding: 40px 15px;
      text-align: center;
  }

}
