.variables .red h3{
  color: $red;
}

.variables .red span{
  background: $red;
}

.variables .green h3{
  color: $green;
}

.variables .green span{
  background: $green;
}

.variables .yellow h3{
  color: $yellow;
}

.variables .yellow span{
  background: $yellow;
}

.variables .blue h3{
  color: $blue;
}

.variables .blue span{
  background: $blue;
}
