@import 'variables';

.variables {
  .red {
    h3{
      color: $red;
    }
    span{
      background: $red;
    }
  }
  .green {
    h3{
      color: $green;
    }

    span{
      background: $green;
    }
  }

  .yellow {
    h3{
      color: $yellow;
    }

    span{
      background: $yellow;
    }
  }

  .blue {
    h3{
      color: $blue;
    }
    span{
      background: $blue;
    }
  }
}
